{% extends 'main/base.html' %}

{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static '/css/book.css'%}" type="text/css">
{% endblock %}

{% block content %}
    {% if dummi_flag == False %}
        <form method="POST">
            {% csrf_token %}
            <div class="book-container">
                <p>Are you sure you want to buy {{ book.name }}?</p>
                <button type="submit" class="btn btn-outline-dark">Yes</button>
            </div>
        </form>
    {% else %}
        <div class="book-container">
            <p>You already own the book. You can download it
                <a href="/book_management" class="book-link">HERE</a>
            </p>
        </div>
    {% endif %}
{% endblock %}