{% extends 'main/base.html' %}

{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static '/css/home.css'%}" type="text/css">
{% endblock %}

{% block content %}
    <div class="grid-home">
        {% for book in books %}
            <div class="c-body">
                <a href="/book_page/{{book.id}}">
                    <img class="book-pic" src={{book.picture.url}}>
                </a>
                <p class="c-text">{{book.name}}</p>
                <p class="c-text">Price: {{book.price}}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}