.header-1{
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #fff;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(38px, auto);
}

.header-11{
    grid-column: 2;
    grid-row: 1;
}

.header-12{
    grid-column: 4/10;
    grid-row: 1;
}

.header-13{
    grid-column: 11;
    grid-row: 1;
}

.icon-head1{
    width: 38px;
    height: 38px;
}

.user-thing{
    grid-column: 8;
    grid-row: 1;
}

.header-2{
    margin-top: 20px;
    padding-left: 20px;
    background-color: #696969;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(38px, auto);
}

.header21{
    grid-column: 1;
    grid-row: 1;
}

.header22{
    grid-column: 2;
    grid-row: 1;
}

.header23{
    grid-column: 3;
    grid-row: 1;
}

.header24{
    grid-column: 4;
    grid-row: 1;
}

.header25{
    grid-column: 5;
    grid-row: 1;
}

.header26{
    grid-column: 6;
    grid-row: 1;
}

.main {
    margin-top: 30px;
}


