.grid-book-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.grid-left-text{
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid-bottom-text{
    grid-column: 1/3;
    grid-row: 3;
}

.grid-book-pic{
    grid-column: 1;
    grid-row: 1/2;
}

.grid-book-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.grid-book-c1{
    grid-column: 1;
    grid-row: 1;
}

.grid-book-c2{
    grid-column: 2;
    grid-row: 1;
}

.book-link{
    color: black;
    padding-right: 6px;
}
.book-link:hover{
    color: black;
}

.flex-book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.book-container {
  display: block;
  text-align: center;
}

.book-pic{
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
}

.book-pic-small{
    max-width: 120px;
    height: 120px;
    margin: 0 auto;
}

.grid-book-search{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;
    grid-auto-rows: minmax(120px, auto);
}