.grid-home {
    display: grid;
    grid-template-columns: repeat(4, 180px);
    grid-gap: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.book-pic{
    display: block;
    margin: auto;
    width: 130px;
    height: 195px;
}

.c-body{
    display: inline-block;
    width: 100%;
    height: 310px;
    padding: 1.25rem;

    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.c-text{
    margin-left: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
